body {
    width: 100%;
    color: #666666;
}
a {
    color: #77b55a;
}
@font-face{
    font-family: 'Google Sans';
    src: url('/fonts/GoogleSans-Regular.ttf');
}
p, h1, h2, h3, h4, h5, ul, li, .form {
    font-family: 'Google Sans';
}
header{
    width: 100%;
}
hr {
    border: 0.5px solid lightgray;
    margin-bottom: 25px;
}
.banner-img{
    width: 100%;
}
.banner-title{
    padding: 20px;
    text-align: center;
    font-size: 40px;
}
.container {
    display: flex;
    margin: 20px 50px;
    flex-flow: column;
}
section{
    align-content: center;
    margin-bottom: 20px;
}
.talks {
    display: flex;
    justify-content: space-around;
}
.talks li {
    font-size: 26px;
    padding: 10px;
    border-radius: 9px;
}
.topics .topic-card {
    margin-bottom: 40px;
}
.description{
    text-align: center;
}
.form-section {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.form {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
    text-shadow:0px 1px 0px #5b8a3c;
    width: 50%;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
.form:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
.form:active {
	position:relative;
	top:1px;
}
.topic-cards-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 35px 0px;
}
.topic-card {
    padding: 30px;
    box-shadow: 0px 10px 14px -7px lightgrey;
}
.topic-card ul {
    list-style: none;
    padding: 0;
}
.topic-card a {
    text-decoration: none;
    margin-bottom: 5px;
    display: block;
}
.topic-card a:hover {
    text-decoration: underline;
}
footer{
    background-color: gray;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30%;
}
.footer-img{
    vertical-align: middle;
}

.wtm{
    width: 30%;
}
.gdg{
    width: 30%;
}
.footer-link{
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
}
strong{
    font-size: 18px;
}

.sponsor{
    text-align: center;
    padding-top: 50px;
}